@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    San Jose, CA 95121<br />
    <abbr title="Phone">P:</abbr>
    (408) 621-8753
</address>

<address>
    <strong>Current Email:</strong> <a href="mailto:paul.t.nguyen@sjsu.edu">paul.t.nguyen@sjsu.edu</a><br />
    <strong>Alternative Email:</strong> <a href="mailto:majide9001@gmail.com">majide9001@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/paul1409/">Paul Nguyen</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/paul1409">paul1409</a>
</address>
